pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.17.4.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.4.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.4.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.17.4-arch1/linux-v6.17.4-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.17.4-arch1/linux-v6.17.4-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 010a12296e6fba7597ff36681be2485fd3b1780ac8fd9e6a9f3cfe193f0491db
	sha256sums = SKIP
	sha256sums = 58460539fa0b9fd870d88f21c59a682a11ae48b778811b5fa552629443aec91d
	sha256sums = SKIP
	sha256sums = 3ae6f2024261c474382345ed2f55d7831cdd3e6146e3d2df2ae240da6607ba93
	b2sums = 4999251820375def8ab39ea74fd62f08ca190a048b1cc431ec5dbe048d7f61f5af2d0b6264636d240f32bae64def9249287b6ebd31bf89ca047a75d193b5198d
	b2sums = SKIP
	b2sums = df8dbe24da3de7164badc1dbda187de357bf5862bb62af9e0e121adc259edc1e288a487c62d7ffa2dec983411eb9823ec0d715a108f82008d3118303e3471181
	b2sums = SKIP
	b2sums = 1b4edb42b3d2f1038b461ac208b4fdc8e409f6d53c401dfc6049ff11b40857847989cdf6ac3220ba8794551c3434c61337cbdf75ee0e3a61d4d8951c5714bd4e

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
