pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.18.2.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.2.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.18.2-arch1/linux-v6.18.2-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.18.2-arch1/linux-v6.18.2-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 558c6bbab749492b34f99827fe807b0039a744693c21d3a7e03b3a48edaab96a
	sha256sums = SKIP
	sha256sums = 2a1cf1d4176846b77d747801c6b3c6aa3f3a4fbb6feb91b834a6b8314a65cd96
	sha256sums = SKIP
	sha256sums = 13e47599359d8ec13a078b1ef99c56d8812d20945b93ce19a92791271121d680
	b2sums = 2e5cae5fe963cf25344ccfe9426d2edab2583b1bb206f6551d60177777595d4c19200e5e3c35ca41b574d25e8fa49013ea086efe05078e7ec2203c77ea420d51
	b2sums = SKIP
	b2sums = 163647b4988b857de62e3273dd060cf105147f04c31f4feee222b64a0706564f67e6da7ad96049450d187b01882fb36d18ff8ce3bc23fe8cd6a82c8c39a2fd69
	b2sums = SKIP
	b2sums = 96a718deb1bf08955132128755b8b838573d4e14f1d463e4fabff621efca38fc0154536ba946752584f627e56b3395d05c7eab10b34180706c29bbea83cd0679

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
