pkgbase = linux
	pkgdesc = Linux
	pkgver = 7.2.1.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.2.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.2.1.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v7.2.1-arch1/linux-v7.2.1-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v7.2.1-arch1/linux-v7.2.1-arch1.patch.zst.sig
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 4158098c8a28ea8fbe068c855d3aa6341e03d06282add3cb9049f3a24e4557b3
	sha256sums = SKIP
	sha256sums = 07994a07407e870c980dbe7b279e479117bb3e4ac53be1556c26aaa33ae9d62d
	sha256sums = SKIP
	b2sums = 285ad654df8d960950cef92f278495d836262b42c11cf5ca8873c7acc48a8df46c0b698fcc82cb31c3ce47bc501633890aafeae72e7d8b239ee70db299b188e8
	b2sums = SKIP
	b2sums = 6508572d3edd117de674f479dea04f4f3b144dae1844fb349b7ee9ff6f54f7b1dc0c2387359c2306fb12bdd74c8702384c5fbd552be49cd60a48cae97eb085a8
	b2sums = SKIP
	source_x86_64 = config.x86_64
	b2sums_x86_64 = eb090402b01e5e827941ccfd4e6e7551ad61d449f9981c1bc7eab3d9ecf729bf2a6e8abca1edea03c89940014ffd3e1375f46612a21080a5c247d1a28b853ead

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-headers: headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	provides = LINUX-HEADERS

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
